<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="spaces-tab" onclick="showTab('spaces')" data-bs-toggle="tab"
                            data-bs-target="#spaces-tab-pane"
                            type="button" role="tab" aria-controls="spaces-tab-pane" aria-selected="false"><i
                            class="fa fa-sitemap" aria-hidden="true"></i> Stores
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="devices-tab" onclick="showTab('devices')" data-bs-toggle="tab"
                            data-bs-target="#devices-tab-pane"
                            type="button" role="tab" aria-controls="devices-tab-pane" aria-selected="false"><i
                            class="fa fa-building"></i> Add Stores
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="import_store-tab" onclick="showTab('import_store')" data-bs-toggle="tab"
                            data-bs-target="#import_store-tab-pane"
                            type="button" role="tab" aria-controls="import_store-tab-pane" aria-selected="false"><i
                            class="fa fa-building"></i> Import Stores
                    </button>
                </li>

            </ul>
            <div id="myTabContent">

                <div class="tab-content active" id="spaces" role="tabpanel">
                    <h2>Stores</h2>
                    <div>
                        {% with messages = get_flashed_messages(category_filter=["store_delete_success"]) %}
                    {% if messages %}

                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}

                    {% endif %}
                    {% endwith %}
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered" id="stores_table">
                            <thead class="table-dark">
                            <tr>
                                <th>Sr. No</th>
                                <th>Store Name</th>
                                <th>Store Code</th>
                                <th>Gate No</th>
                                <th>Reader Count</th>
                                <th>Zone</th>
                                <th>State</th>
                                <th>City</th>

                                <th style="width: 150px;">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if stores %}
                            {% for store in stores %}
                            <tr>
                                <td>{{ store[0] }}</td>
                                <td>{{ store[1] }}</td>
                                <td>{{ store[2] }}</td>
                                <td>{{ store[3] }}</td>
                                <td>{{ store[4] }}</td>
                                <td>{{ store[5] }}</td>
                                <td>{{ store[6] }}</td>
                                <td>{{ store[7] }}</td>

                                <td><a class="btn btn-primary" title="Edit Store" href="{{ url_for('update_store', storeid=store[0]) }}" data-bs-toggle="modal" data-bs-target="#modal-{{ store[0] }}"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;&nbsp;<a
                                        title="Delete Store" href="/delete_store/{{ store[0]}}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this record?');"><i
                                        class="fa fa-trash"></i></a>
                                <!-- Modal -->
                            <div class="modal fade" id="modal-{{ store[0] }}" data-bs-backdrop="static"
                                 data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel1"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="staticBackdropLabel1">Edit Store</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="{{ url_for('update_store', storeid=store[0]) }}" method="POST">
                                                <div class="container">
                                                    <label class="form-label">Store Name<span class="star_reqiured"
                                                                                             style="color: red;">*</span></label>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name="storename" value="{{ store[1] }}"
                                                               placeholder="Store Name" required>
                                                    </div>
<!--                                                    <br/>-->
                                                    <label class="form-label">Store Code<span class="star_reqiured"
                                                                                             style="color: red;">*</span></label>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name="storecode" value="{{ store[2] }}"
                                                               placeholder="Store Code" required>
                                                    </div>
<!--                                                    <br/>-->
                                                    <label class="form-label">Gate No<span class="star_reqiured"
                                                                                             style="color: red;">*</span></label>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name="gateno" value="{{ store[3] }}"
                                                               placeholder="Gate No" required>
                                                    </div>
<!--                                                    <br/>-->
                                                    <label class="form-label">Reader Count<span class="star_reqiured"
                                                                                             style="color: red;">*</span></label>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name="readercount" value="{{ store[4] }}"
                                                               placeholder="Reader Count" required>
                                                    </div>
                                                    <label class="form-label">Zone<span class="star_reqiured"
                                                                                             style="color: red;">*</span></label>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name="zone" value="{{ store[5] }}"
                                                               placeholder="Zone" required>
                                                    </div>
                                                    <label class="form-label">State<span class="star_reqiured"
                                                                                             style="color: red;">*</span></label>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name="state" value="{{ store[6] }}"
                                                               placeholder="State" required>
                                                    </div>
                                                    <label class="form-label">City<span class="star_reqiured"
                                                                                             style="color: red;">*</span></label>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name="city" value="{{ store[7] }}"
                                                               placeholder="Gate No" required>
                                                    </div>

                                                    <button type="submit" class="btn btn-success"> Update Store</button>
                                                </div>
                                            </form>
                                        </div>
                                        <!--      <div class="modal-footer">-->
                                        <!--        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
                                        <!--        <button type="button" class="btn btn-primary">Understood</button>-->
                                        <!--      </div>-->
                                    </div>
                                </div>
                            </div>


                                </td>

                            </tr>

                            {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <div id="pagination-container">
                <ul id="pagination"></ul>
            </div>
                </div>
                <div class="tab-content" id="devices" role="tabpanel" style="display: none;">
                    {% include 'storeregister.html' %}
                </div>

                <div class="tab-content" id="import_store" role="tabpanel" style="display: none;">
                    {% include 'import_stores.html' %}
                </div>

            </div>


        </div>
    </div>
</div>

